
@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_prolight';
    src: url('../fonts/cerapro-light-webfont.eot');
    src: url('../fonts/cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-light-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-light-webfont.woff') format('woff'),
    url('../fonts/cerapro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_problack';
    src: url('cerapro-black-webfont.eot');
    src: url('cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('cerapro-black-webfont.woff2') format('woff2'),
    url('cerapro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding-top: 30px;
    margin-bottom: 12px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    color: white;
    text-decoration: none;
    background: #46a358;
    transition: 0.3s;
    font-family: 'cera_promedium';
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'cera_promedium';
}
nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    font-family: 'cera_prolight';
}

.list li a {
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    font-weight: 500;
    font-family: 'cera_prolight';
}

.search_basket {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    align-items: center;
    margin-left: 267px;
}

.search_basket li img {
    width: 29px;
    cursor: pointer;
    display: block;
}
.banner {
    max-width: 1200px;
    height: 450px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .box {
    padding-left: 48px;
}
.banner .box h3 {
    margin-top: 0;
    padding-top: 68px;
    margin-bottom: 7px;
    font-family: 'cera_prolight';
    text-transform: uppercase;

}
.banner .box p,
.banner .box ul {
    margin-top: 5px;
    padding: 0;
}
.banner .box h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: 'cera_problack', sans-serif;
    letter-spacing: -0.02em;

}
.banner .box p{
    font-family: 'cera_prolight', sans-serif;
}

.banner .box ul {
    padding-left: 0;
    list-style: none;
    padding-top: 55px;
}
.banner ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px 26px;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    color: white;
    text-decoration: none;
    background: #46a358;
    font-family: 'cera_promedium', sans-serif;
}
.green {
    color:#46a358 ;
}
.menu .h3{
    font-family: 'cera_problack', sans-serif;
}
.green_2{
    color:#46a358 ;
}
.container_2{
    padding-top: 40px;
    max-width: 1200px;
    display: flex;
    margin: auto;
    gap: 50px;
}
.left{
    background: #fbfbfb;
}
.left ul {
    list-style: none;
    margin-bottom: 377px;
}
.left li a{
    text-decoration: none;
    padding-left: 12px;
    margin-bottom: 20px;
    line-height: 30px;
    color: #3d3d3d;
    font-family: 'cera_prolight';
}
.sale{
    max-width: 100%;
}
.green_3 {
    color: #46a358;
}
.right_menu{
    max-width: 838px;
    justify-content: space-between;
}

.right-side-menu ul {
    display: flex;
    align-items: center;
    gap: 37px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'cera_prolight';

}
.right-side-menu li a{
    text-decoration: none;
}
.right-side-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
.product-card{
    display: inline-block;
    max-width: 258px;
}
.product-image{
    width: 100%;
    height: 300px;
}
.cards a{
    text-decoration: none;
    list-style: none;
    color: #3d3d3d;
    font-family: 'cera_promedium', sans-serif;
}
.product-price{
    display: block;
    margin-top: 3px;
    color: #46a358;
    font-family: 'cera_probold';
}
.number_pages{
    display: flex;
    justify-content: flex-end;
}
.number_pages ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding-top: 90px;
}
.number_pages a{
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-family: 'cera_prolight';
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.number_pages a:hover{
    background: #46a358;
    color: white;
}
.number_pages a:hover svg path{
    stroke: white;
}

.after_menu{
    display: flex;
    justify-content: center;
    gap: 28px;
    max-width: 1200px;
    padding-top: 80px;
    margin: auto;
}
.promo1, .promo2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 586px;
    height: 250px;
    background: #fbfbfb;
    font-family: 'cera_prolight';
}
.promo1 img, .promo2 img{
    margin-top: -50px;
}
.text-promo_left, .text-promo_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    height: 100%;
    gap: 10px;

}
.after_menu p{
    width: 292px;
    height: 45px;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
}
.after_menu h4{
    width: 150px;
    height: 48px;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: 'cera_probold';
}
.after_menu .button{
    display: inline-block;
    white-space: nowrap;
    padding: 9px 28px;
    text-decoration: none;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    background: #46a358;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    font-family: 'cera_prolight'
    transition: transform 0.2s;
}
.after_menu .button:hover {
    transform: translateY(-2px);
}
.button img{
    top: 5px;
    position: relative;
}


.blog{
    width: 1201px;
    height: 447px;
    text-align: center;
    margin: auto;
    margin-top: 138px;
    justify-content: center;

}
.blog_head h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    padding-bottom: 15px;
    font-family: 'cera_probold';
}
.blog_head p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    font-family: 'cera_prolight'

}
.blog_cards{
    display: flex;
    justify-content: center;
    gap: 43px;
    margin-top: 35px;
}
.card{
    width: 268px;
    overflow: hidden;
    text-align: left;
    background: #fbfbfb;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.blog-meta {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    font-family: 'cera_promedium';
}
.blog_content h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin-bottom: 4px;
    font-family: 'cera_probold';
}
.blog_content p{
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_prolight';
}
.blog_content{
    padding: 9px 13px;
}
.read-more{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    font-family: 'cera_promedium';
    transition: color 0.3s ease;
}
.read-more:hover{
    color: #46a358;
}